NUXT_BACKEND_API_BASE_URL=http://localhost:8000
NUXT_RAG_SERVICE_BASE_URL=http://localhost:8000/rag
NUXT_PUBLIC_BACKEND_API_BASE_URL=http://localhost:8000
NUXT_PUBLIC_GOOGLE_CLIENT_ID=620943412298-qgf75rsv1qm0rcsqnncm9lj9ubssge11.apps.googleusercontent.com
