# Worker_service container
WORKER_SERVICE_CONTAINER_NAME=worker_service_app

# Worker_service Redis container
WORKER_REDIS_IMAGE=redis:7-alpine
WORKER_REDIS_CONTAINER_NAME=worker_redis
WORKER_REDIS_PORT=6379
WORKER_REDIS_APPENDONLY=yes
